.pl {
  padding: 5.625rem 6.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pl-texts {
  width: 65%;
}

.pl-title {
  font-size: 3.125rem;
  font-weight: 600;
}

.pl-title .line {
  display: inline-block;
  width: 5rem;
  height: 0.3rem;
  background: #59b256;
  justify-self: center;
}

.pl-desc {
  margin: 1.25rem 0;
}

.pl-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 950px) {
  .pl-texts {
    /* width: 100%; */
    margin-top: 6rem;
  }
}

@media screen and (max-width: 600px) {
  .pl-texts {
    width: 100%;
    margin-top: 5rem;
  }
  .pl-list {
    gap: 1rem;
  }

  .pl-desc {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 600px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .pl {
    display: block;
    padding: 0;
  }

  .pl-title {
    font-size: 1.875rem;
  }

  .pl-list {
    width: 100%;
    flex-direction: column;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .pl-title .line {
    display: none;
  }
}
