.t {
  width: 3.125rem;
  height: 1.5625rem;
  border-radius: 1.25rem;
  border: 1px solid #999;
  background-color: white;
  position: fixed;
  top: 0.625rem;
  right: 0.625rem;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.t-icon {
  width: 0.9375rem;
  height: 0.9375rem;
}

.t-button {
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
  background-color: #999;
  position: absolute;
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .t {
    display: none;
  }
}
